@model IEnumerable<TapHoa.Models.DVT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{ var nhanvien = Session["NHANVIEN"] as TapHoa.Models.NHANVIEN;
    var admin = Session["ADMIN"] as TapHoa.Models.ADMIN;}
@if (nhanvien != null || admin != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách đơn vị tính</h4>
                        <p class="category">@Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên đơn vị tính</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.MADVT)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TENDVT)</td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.MADVT }, new { @class = "btn btn-success", style = "margin: 0px 5px" })
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.MADVT }, new { @class = "btn btn-warning", style = "margin: 0px 5px" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
