@model TapHoa.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAHIENHANH)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            Số lượng đã bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGDABAN)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="~/Images/@Model.HINHANH" width="50" />
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT.TENDVT)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIHANG.TENLOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MASP }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
